

@font-face {
  font-family: "PokePoke";
  src: url("./fonts/DebugFreeTrial-MVdYB.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
.hero {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center; /* จัดกึ่งกลางในแนวนอน */
  flex-direction: column;  /* เรียงเนื้อหาในแนวตั้ง */
}

/* HEADER */
.tabs-header {
	text-align: center;
	margin-bottom: 0px;
  margin-top: 20px;
}
.title {
	font-size: 3rem;
	font-family: "PokePoke";
	font-weight: 400;
}

/* Contents */
.tab-contents {
  margin: 1rem;
  background-color: #fff;
  opacity: 0.8;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 1.5rem);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  overflow-y: auto; /* เพิ่ม scrollbar แนวตั้ง */
  z-index: 1;
  
}

/* Flipcard */
.flip-card {
  /* outline: 5px solid hotpink; */
  margin: 15px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 90%;
  max-height: 300px;
  z-index: 50;
  border-radius: 10px;
  opacity: 1;
}

.play-btn {
  background-color: transparent; /* ปุ่มโปร่งใส */
  border: 1px solid white; /* เส้นสีขาว */
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px; /* เว้นระยะห่างจากข้างบน */
  color: #ffffffda;
}

.how-btn {
  position: absolute; /* กำหนดตำแหน่งสัมบูรณ์ให้ปุ่ม */
  top: 10px; /* ระยะห่างจากด้านบน */
  right: 10px; /* ระยะห่างจากด้านขวา */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff; /* สีพื้นหลัง */
  color: #000000; /* สีตัวอักษร */
  border: 1px solid #000000; /* เส้นขอบ */
  border-radius: 5px; /* มุมโค้งมน */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็น pointer เมื่อวางเมาส์ */
}

.how-btn:hover {
  background-color: #000000; /* เปลี่ยนสีพื้นหลังเมื่อวางเมาส์ */
  color: #ffffff; /* เปลี่ยนสีตัวอักษรเมื่อวางเมาส์ */
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  min-height: 300px;
  height: auto;
  background-color: #000000;
  background-image:        url(https://wallpapercave.com/wp/wp3842313.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card:nth-of-type(2) .flip-card-front,
.flip-card:nth-of-type(2) .flip-card-back {
  background-image: url(https://wallpapercave.com/wp/wp5049551.jpg);
}

.flip-card:nth-of-type(3) .flip-card-front,
.flip-card:nth-of-type(3) .flip-card-back {
  background-image: url(https://wallpapercave.com/wp/wp7907920.jpg);
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.flip-card-front::after,
.flip-card-back::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.flip-card-front .inner,
.flip-card-back .inner {
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  z-index: 2;
}

.inner .icon {
  width: 80px;
  margin-bottom: 20px;
}

.inner h3 {
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
}

.inner p {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
}

/* สไตล์สำหรับหน้าจอขนาดเล็ก (มือถือ) */
@media (max-width: 575px) {
  .title {
    font-size: 3rem;
  }
  
  .flip-card-front,
  .flip-card-back {
    min-height: 300px;
  }
  .inner .icon {
    width: 40px;
    margin-bottom: 10px;
  }
  
  .inner h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 25px;

    line-height: 30px;
    text-transform: capitalize;
  }
  
  .inner p {
    color: #ffffff;
    font-size: 12px;
  }

  .how-btn {

    top: 10px; /* ระยะห่างจากด้านบน */
    right: 10px; /* ระยะห่างจากด้านขวา */

    font-size: 10px;
    font-weight: bold;
    background-color: #ffffff; /* สีพื้นหลัง */
    color: #000000; /* สีตัวอักษร */
    border: 1px solid #000000; /* เส้นขอบ */
    border-radius: 5px; /* มุมโค้งมน */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็น pointer เมื่อวางเมาส์ */
  }
}

/* สไตล์สำหรับหน้าจอขนาดกลาง (แท็บเล็ต) */
@media (min-width: 576px) and (max-width: 767px) {
  .title {
    font-size: 5rem;
  }
}

/* สไตล์สำหรับหน้าจอขนาดใหญ่ (PC) */
@media (min-width: 768px) and (max-width: 1200px) {
  .title {
    font-size: 5rem;
  }
}

/* สไตล์สำหรับหน้าจอขนาดใหญ่ (PC) */
@media (min-width: 1200px) {
  .title {
    font-size: 5rem;
  }
}